In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
data = gpd.read_file("/Users/creative/Nutstore Files/PKU_DATA/【保留】数据共享/基础数据（接收）/轨道交通网/MetroLine_2015.shp")

In [24]:
data["Name"].unique().tolist()

['地铁2号线(内环(积水',
 '机场线(东直门-东直',
 '地铁10号线(内环(车',
 '地铁5号线(宋家庄-天',
 '地铁7号线(北京西站-',
 '地铁15号线(俸伯-清',
 '地铁9号线(郭公庄-国',
 '地铁1号线(苹果园-四',
 '房山线(郭公庄-苏庄)',
 '八通线(四惠-土桥)',
 '地铁14号线(张郭庄-',
 '地铁4号线大兴线(安',
 '地铁8号线(朱辛庄-南',
 '亦庄线(宋家庄-次渠)',
 '地铁13号线(东直门-',
 '地铁6号线(海淀五路',
 '地铁昌平线(西二旗-',
 '地铁14号线(北京南站']

In [9]:
datas = []
for i in data["Name"].unique().tolist():
    datas.append({"city":"北京","name":i})

In [32]:
df = pd.read_csv("/Users/creative/Documents/python/Bus route data/data/直辖市/csv/北京公交站点.csv")

In [33]:
df2 = df.groupby("正反线路").get_group(1)

In [36]:
df2["name"].unique()

array(['地铁2号线内环(积水潭--积水潭)', '首都机场线(北新桥--东直门)', '地铁10号线内环(巴沟--巴沟)',
       '地铁5号线(天通苑北--宋家庄)', '地铁7号线(环球度假区--北京西站)', '地铁15号线(俸伯--清华东路西口)',
       '地铁9号线(国家图书馆--郭公庄)', '地铁1号线(四惠东--古城)', '地铁房山线(阎村东--东管头南)',
       '地铁八通线(环球度假区--四惠)', '地铁14号线西段(张郭庄--西局)', '地铁4号线大兴线(天宫院--安河桥北)',
       '地铁8号线南段(珠市口--瀛海)', '地铁亦庄线(宋家庄--亦庄火车站)', '地铁13号线(西直门--东直门)',
       '地铁6号线(金安桥--潞城)', '地铁昌平线(西二旗--昌平西山口)', '地铁14号线东段(北京南站--善各庄)'],
      dtype=object)

In [45]:
df2.to_excel("subway_beijing.xlsx")

In [46]:
df3 = pd.read_excel("/Users/creative/Desktop/subway_beijing.xlsx")

In [47]:
group = df3.groupby("name")
names = df3["name"].unique().tolist()

In [48]:
df3.head()

,城市,站点名称,lng,lat,id,name,正反线路,name2,id2
0,北京,积水潭,116.366897,39.947265,BV10013430,地铁2号线内环(积水潭--积水潭),1,积水潭,102512
1,北京,鼓楼大街,116.387528,39.947568,BV10013431,地铁2号线内环(积水潭--积水潭),1,鼓楼大街,102473
2,北京,安定门,116.401992,39.947775,BV10001936,地铁2号线内环(积水潭--积水潭),1,安定门,102371
3,北京,雍和宫,116.410827,39.947935,BV10006563,地铁2号线内环(积水潭--积水潭),1,雍和宫,102666
4,北京,东直门,116.427333,39.939704,BV10002731,地铁2号线内环(积水潭--积水潭),1,东直门,102450

In [49]:
datas = []
for i in names:
    lists = group.get_group(i)["id2"].tolist()
    ids = []
    for a in lists:
        ids.append(int(a))
        
    data = {"name":i,
           "code":group.get_group(i)["id"].tolist(),
           "id":ids,
           }
    datas.append(data)

In [51]:
datas = {"subway_line":datas}

In [52]:
# 保存为JSON
import json
with open("json.json", "w", encoding='utf-8') as f:
    f.write(json.dumps(datas,ensure_ascii=False))