In [61]:
import pandas as pd

In [52]:
df = pd.read_excel("/Users/creative/Documents/python/Semantic analysis of texts/文本分词/neg词频统计表.xlsx")

In [53]:
simple1 = []
simple2 = []
for i in range(len(df)):
    comment = df.loc[i,"key"]
    if len(comment) < 2:
        simple1.append(comment)
    if 3 < len(comment):
        simple2.append(comment)

In [54]:
long_comment = ["工作人员", "杂草丛生","形同虚设", "年久失修", "儿童乐园", "卫生条件" , "拒之门外", "随地吐痰", "贵重物品", "对外开放","关门歇业","空跑一趟","花花草草","基础设施","服务态度", "环境卫生", "户外运动","噪声污染"]

In [55]:
extract = ['坐', '车', '路', '水','脏', '门', '乱', '停', '臭', '湖', '山', '吵', '远', '卡', '老', '树',  '桥', '荒', '假', '久','堵','雾', '难',  '黑', '光',  '梯',  '风',  '船', '爬',  '绕', '占', '亮', '近']

In [56]:
extract.extend(long_comment)

In [57]:
e = []
for i in range(len(df)):
    comment = df.loc[i,"key"]
    if len(comment) < 2:
        if comment in extract:
            e.append(comment)
        else:
            e.append(None)
    else:
        e.append(comment)
        
    if 3 < len(comment):
        if comment in extract:
            e.append(comment)
        else:
            e.append(None)
    else:
        e.append(comment)

In [58]:
len(e)

3052

In [39]:
df["new_key"] = e

ValueError: Length of values (1767) does not match length of index (1526)

In [8]:
df2 = df[~df['new_key'].isin([None])]

In [9]:
df2

      Unnamed: 0  key  count new_key
0              0   公园     97      公园
3              3   地方     55      地方
6              6   景点     48      景点
8              8   门票     41      门票
9              9  没什么     39     没什么
...          ...  ...    ...     ...
1521        1521   故居      1      故居
1522        1522  风景点      1     风景点
1523        1523   远远      1      远远
1524        1524   水库      1      水库
1525        1525   韵味      1      韵味

[1318 rows x 4 columns]